@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lilita One;
    height: 1000px;
    text-align: center;
    background-color: #f0b495;
    color: #4b2e2e;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: white;
    position: relative;
}

.top a {
    position: absolute;
    left: 0;
    margin-left: 20px;
    text-decoration: none;
    color:black;
    background-color:#f0b495;
    padding: 25px;
    border-radius: 27%;
}

.top h1 {
    margin: 0;
}

div, h1{
    text-align: center;
    background-color: #f7e3a1 ;
    color: #333333;
    padding: 16px;
}

.first-project{
    background-color: #f0b495;
    color:#4b2e2e;
    text-align: left;
    font-size: 25px;
}

img {
    display: block;
    margin: 0 auto;
    border: 2px solid grey;
}



header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.GitHub{
    background-color: #d3d3d3;
    color: #333333;
}

a{
    text-decoration: none;
}