@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lilita One;
    height: 700px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 174, 174);
    padding: 25px;
    color: white;
    position: relative;
}

.top a {
    position: absolute;
    left: 0;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 25px;
    border-radius: 27%;
}

.top h1 {
    margin: 0;
}


.resume-container{
    display: flex;

}

.left-side{
    flex: 0 0 40%;
    background-color: rgb(246, 246, 246);
}

.left-side h2{
    text-align: center;
    background-color: rgb(80, 80, 80);
    color: white ;
    border-radius: 25%; 
    max-width: 200px;
    margin-left: 30%;
}

.left-side p, ul{
    margin-left: 40px;
    font-size: 25px;
}

.left-side ul {
    margin-bottom: 30px;
}

img {
    border-radius: 50%;
    border: 5px solid grey;
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.right-side {
    flex: 60%;
    padding: 30px;
}

.right-side p {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.right-side u {
    margin-left: auto;
    text-decoration: underline;
}


.line{
    display: inline-block;
    width: 50%;
    border-bottom: 2px solid black;
    margin-left: 50%;
}

